# THIS FILE WILL BE FINISHED WHEN THE PROJECT IS READY FOR RELEASE


# This file will be used to install the required packages for the project.
# Use the command `pip install -r requirements.txt` to install all dependencies.